body {
	background-color: #acbec6;
	text-align: center;
}

.main {
	border: 4px solid #8c8c8c;
	border-radius: 10px;
	background-color: #ededed;
	padding: 30px;
	display: inline-block;
	margin-top: 6%;
	padding-top: 5px;
	font-size: 2em;
}
