# Platfrom IO
.pio

# Eclipse
.project
.cproject
.pydevproject
.settings/

# VS Code
.vscode

# Python
__pycache__

# MyPy
.mypy_cache

# Credentials
wifissid.txt
wifipass.txt
otapass.txt
mqttuser.txt
mqttpass.txt

# This file changes every commit.
src/generated/esptherm_version.h
