
body{
background-color:#c2cbd1;
text-align:center;
}

.main{
--border-color:#808080;
background-color:#ededed;
color:#0d0d0d;
font-size:2em;
border:4pxsolidvar(--border-color);
border-radius:10px;
display:inline-block;
padding:30px;
margin:5%0;
}

h1{
font-size:2.2em;
margin:5%0.3em;
}

h3,label,p{
color:#3F3F48;
font-weight:bold;
margin:0.3em0;
}

@media(prefers-color-scheme:dark){
body{
background-color:#222221;
}

.main{
background-color:#131312;
color:#aab1b5;
--border-color:#484946;
}

h3,label,p{
color:#8d9398;
}
}


h1{
margin:0.3em0;
}

a:link,
a:visited,
a:hover,
a:active{
color:#8d9398;
}

@media(prefers-color-scheme:dark){
a:link,
a:visited,
a:hover,
a:active{
color:#525550;
}
}
