:root{
--bg-color:#c6cbd4;
--main-bg-color:#eaeaea;
--border-color:#6a6a6a;
--text-color:#393939;
--heading-color:#202020;
--link-color:#767e84;
--active-link-color:#666c7b;

background-color:var(--bg-color);
color:var(--text-color);
color-scheme:light dark;
text-align:center;
}

body{
display:inline-block;
min-width:100%;
margin:0px;
padding:0px;
}

main,.main{
background-color:var(--main-bg-color);
font-size:2rem;
border:4px solid var(--border-color);
border-radius:10px;
display:inline-block;
margin:10vmin 0px;
padding:30px;
}

code{
background-color:#b9b9b9;
padding:2px 5px;
border-radius:4px;
font-size:0.9em;
}

h1{
color:var(--heading-color);
font-size:4rem;
font-weight:bold;
margin:0.5em 0.3em;
}

h3,label,p{
font-size:2.5rem;
font-weight:bold;
margin:0.8rem 0px;
}

h3{
color:var(--heading-color);
}

a:link,a:visited{
color:var(--link-color);
}

a:hover,a:active{
color:var(--active-link-color);
}

@media only screen and (prefers-color-scheme:dark){
:root{
--bg-color:#0f0e0c;
--main-bg-color:#1f1e1c;
--border-color:#626259;
--text-color:#80807e;
--heading-color:#a5a5a0;
--link-color:#656562;
--active-link-color:#525250;
}

code{
background-color:#121211;
}
}

h1{
margin:1rem 0.5rem;
}

hr{
border-color:var(--border-color);
}

@media only screen and (max-width:calc(30rem+68px)){
main,.main{
padding:4vh 5vw;
}

h1{
font-size:12vw;
}

h3,p{
font-size:7.5vw;
margin:1vh;
}
}
