:root{
--border-color:#808080;
background-color:#c2cbd1;
color-scheme:light dark;
text-align:center;
}

.main{
background-color:#ededed;
color:#0d0d0d;
font-size:2rem;
max-width:100%;
border:4px solid var(--border-color);
border-radius:10px;
display:inline-block;
padding:30px;
margin:5% 0;
box-sizing:border-box;
}

h1{
font-size:4rem;
margin:5% 1.2rem;
}

h3,label,p{
color:#3F3F48;
font-weight:bold;
margin:0.8rem 0;
font-size:2.5rem;
}

@media only screen and (prefers-color-scheme:dark){
:root{
--border-color:#484946;
background-color:#222221;
}

.main{
background-color:#131312;
color:#aab1b5;
}

h3,label,p{
color:#8d9398;
}
}

@media only screen and (max-width:calc(30rem + 68px)){
.main{
padding:8% 6%;
}

h1{
font-size:12vw;
}

h3{
font-size:7.5vw;
margin:1vh;
}
}

h1{
margin:1rem 0;
}

a:link,a:visited,a:hover,a:active{
color:#8d9398;
}

@media only screen and (prefers-color-scheme:dark){
a:link,a:visited,a:hover,a:active{
color:#525550;
}
}
