# This workflow builds all platformio build targets to test whether any of them were broken by a commit.

name: Platform IO build

on: 
  push:
    paths:
      - src/**
      - include/**
      - lib/**
      - shared/**
      - platformio.ini
      - .github/workflows/pio_build.yml
  pull_request:
    branches: 
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Platform IO build ${{ matrix.os == 'ubuntu-latest' && 'all' || 'some' }} (${{ matrix.os }}) 
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
      - name: Checkout Repo
        id: checkout
        uses: actions/checkout@v5

      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT

      - name: Cache pip packages and Platform IO build cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.pip-cache.outputs.dir }}
            ~/.platformio
            .pio
          key: ${{ matrix.os }}-build-platformio-${{ hashFiles('platformio.ini') }}
          restore-keys: ${{ matrix.os }}-build-platformio-

      - name: Install Platform IO
        id: pio-install
        run: pip install -U platformio

      - name: Create dummy crdential files
        id: create-dummy-creds
        run: |
          echo "OTA Password" > otapass.txt
          echo "WiFi SSID" > wifissid.txt
          echo "WiFi Passphrase" > wifipass.txt
          echo "MQTT Username" > mqttuser.txt
          echo "MQTT Password" > mqttpass.txt

      - name: Platform IO build all
        id: pio-build-all
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: pio run

      - name: Platform IO build some
        id: pio-build-some
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: pio run -e esp32dev -e esp_wroom_02
