# This workflow builds all platformio build targets to test whether any of them were broken by a commit.

name: Platform IO test

on: 
  push:
    paths:
      - test/**
      - lib/**
      - shared/**
      - platformio.ini
      - .github/workflows/pio_test.yml
  pull_request:
    branches: 
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Platform IO test (${{ matrix.os }}) 
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
      - name: Checkout Repo
        id: checkout
        uses: actions/checkout@v5

      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT

      - name: Cache pip packages and Platform IO build cache
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.pip-cache.outputs.dir }}
            ~/.platformio
            .pio
          key: ${{ matrix.os }}-platformio-${{ hashFiles('platformio.ini') }}
          restore-keys: ${{ matrix.os }}-platformio-

      - name: Install Platform IO
        id: pio-install
        run: pip install -U platformio

      - name: Platform IO test
        id: pio-test
        run: pio test -e native
